body {
    min-width: 100vw;
    min-height: 100vh;
}

h1 {
    font-family: 'Do Hyeon', sans-serif;
}

@media screen  and (min-width: 750px) {

    h1 {
        font-family: 'Do Hyeon', sans-serif;
        color: #C70039;
    }
}